// Paleta de colores

$first-color: #007bff;
$hover-color: #1eadff;
$active-color: #48cbff;
$active-btn: #48cbff;
$title-color: #0d47a1;
$subtitle-color: #0061f6;

// tamaño de textos

$titulos-pry: 2.5rem;
$titulos-scd: 2rem;
$titulos-trh: 1.5rem;
$textos: 1.2rem;
