// Paleta de colores

$first-color: #007bff;
$hover-color: #0096c7;
$active-color: #90e0ef;
$border-color: #2693b7;
$card-color: #1565c0;
$title-color: #0d47a1;

// tamaño de textos

$titulos-pry: 2.5rem;
$titulos-scd: 2rem;
$titulos-trh: 1.5rem;
$textos: 1.2rem;
